body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:1252px;
  width:320px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:702px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:702px;
}
#u2 {
  position:absolute;
  left:2px;
  top:343px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:95px;
  width:76px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:62px;
}
#u4 {
  position:absolute;
  left:2px;
  top:23px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:86px;
  top:95px;
  width:73px;
  height:65px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:65px;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:10px;
  top:160px;
  width:76px;
  height:76px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u8 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:269px;
  top:4px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
