body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:879px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:879px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:50px;
  width:150px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:50px;
  width:150px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:93px;
  width:320px;
  height:115px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:115px;
}
#u7 {
  position:absolute;
  left:2px;
  top:50px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:211px;
  width:320px;
  height:115px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:115px;
}
#u9 {
  position:absolute;
  left:2px;
  top:50px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:266px;
  top:0px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
