body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1336px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1336px;
}
#u1 {
  position:absolute;
  left:2px;
  top:660px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1px;
  top:49px;
  width:315px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:271px;
  top:0px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
