body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:642px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:642px;
}
#u1 {
  position:absolute;
  left:2px;
  top:313px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:587px;
  width:150px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:161px;
  top:587px;
  width:150px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
