.version.slides /* version checker */
{
	color: #0000E9;
	background-color: #B2A24C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #0071BC;
}

#u219
{
	z-index: 2;
	width: 380px;
	position: fixed;
	top: 80px;
	left: 0px;
}

#u138-4
{
	z-index: 3;
	width: 380px;
	min-height: 40px;
	line-height: 36px;
	position: relative;
}

#u145-4
{
	z-index: 7;
	width: 325px;
	min-height: 270px;
	padding-left: 30px;
	padding-right: 25px;
	text-align: justify;
	margin-top: 17px;
	position: relative;
}

#u220
{
	z-index: 15;
	width: 380px;
	position: fixed;
	top: 600px;
	left: 0px;
}

#u172
{
	z-index: 16;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	padding-top: 80px;
	padding-bottom: 193px;
	position: relative;
	margin-right: -10000px;
}

#u176-4
{
	z-index: 17;
	width: 380px;
	min-height: 40px;
	line-height: 36px;
	position: relative;
}

#u177-4
{
	z-index: 21;
	width: 325px;
	min-height: 270px;
	padding-left: 30px;
	padding-right: 25px;
	text-align: justify;
	margin-top: 17px;
	position: relative;
}

#u221
{
	z-index: 25;
	width: 380px;
	position: fixed;
	top: 1200px;
	left: 0px;
}

#u195
{
	z-index: 26;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: #009245;
	padding-top: 80px;
	padding-bottom: 193px;
	position: relative;
	margin-right: -10000px;
}

#u196-4
{
	z-index: 27;
	width: 380px;
	min-height: 40px;
	line-height: 36px;
	position: relative;
}

#u197-4
{
	z-index: 31;
	width: 325px;
	min-height: 270px;
	padding-left: 30px;
	padding-right: 25px;
	text-align: justify;
	margin-top: 17px;
	position: relative;
}

#u222
{
	z-index: 35;
	width: 380px;
	position: fixed;
	top: 1800px;
	left: 0px;
}

#u215
{
	z-index: 36;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: #662D91;
	padding-top: 80px;
	padding-bottom: 193px;
	position: relative;
	margin-right: -10000px;
}

#u216-4
{
	z-index: 37;
	width: 380px;
	min-height: 40px;
	line-height: 36px;
	position: relative;
}

#u217-4
{
	z-index: 41;
	width: 325px;
	min-height: 270px;
	padding-left: 30px;
	padding-right: 25px;
	text-align: justify;
	margin-top: 17px;
	position: relative;
}

#u173-4
{
	z-index: 11;
	min-height: 34px;
	text-align: center;
}

#u173-4-bw
{
	z-index: 11;
	min-height: 34px;
	margin-bottom: -84px;
	margin-top: 2521px;
	height: 34px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -2520px;
}

