body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:323px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:316px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:316px;
}
#u1 {
  position:absolute;
  left:2px;
  top:150px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:249px;
  width:320px;
  height:252px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:252px;
}
#u3 {
  position:absolute;
  left:2px;
  top:118px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:238px;
  top:455px;
  width:85px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:266px;
  top:23px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
