body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2224px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2224px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1104px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1px;
  top:297px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:81px;
  top:152px;
  width:60px;
  height:65px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:147px;
  top:152px;
  width:64px;
  height:65px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:211px;
  top:152px;
  width:64px;
  height:65px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u8 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:281px;
  top:152px;
  width:40px;
  height:65px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:65px;
}
#u10 {
  position:absolute;
  left:2px;
  top:24px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1px;
  top:534px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:1px;
  top:864px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:1px;
  top:1157px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:1px;
  top:1572px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:16px;
  top:807px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:16px;
  top:834px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:16px;
  top:1116px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:16px;
  top:1510px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:16px;
  top:1537px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:6px;
  top:82px;
  width:201px;
  height:55px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:55px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:271px;
  top:1px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1px;
  top:1px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2222px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2222px;
}
#u31 {
  position:absolute;
  left:2px;
  top:1103px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:fixed;
  left:275px;
  top:390px;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:58px;
  width:37px;
  height:37px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:fixed;
  left:0px;
  top:260px;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:247px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:247px;
}
#u39 {
  position:absolute;
  left:2px;
  top:116px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:fixed;
  left:276px;
  top:260px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
