body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1077px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:5px;
  top:81px;
  width:185px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:56px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:137px;
  width:320px;
  height:92px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:92px;
}
#u5 {
  position:absolute;
  left:2px;
  top:38px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:83px;
  top:238px;
  width:60px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:61px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:148px;
  top:238px;
  width:60px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:61px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:214px;
  top:238px;
  width:60px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:61px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:279px;
  top:238px;
  width:41px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:61px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:389px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:0px;
  top:629px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:0px;
  top:959px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:0px;
  top:1249px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:0px;
  top:1609px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:5px;
  top:902px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:5px;
  top:929px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:1548px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:1575px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:1215px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:5px;
  top:2102px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:5px;
  top:2129px;
  width:235px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:270px;
  top:3px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2170px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2170px;
}
#u36 {
  position:absolute;
  left:2px;
  top:1077px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:fixed;
  left:270px;
  top:396px;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:58px;
  width:37px;
  height:37px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:fixed;
  left:0px;
  top:263px;
}
#u42_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:247px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:247px;
}
#u44 {
  position:absolute;
  left:2px;
  top:116px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:fixed;
  left:275px;
  top:263px;
}
#u45_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
